.welcome-section {
    background-color: lightskyblue;
    color: black;
    padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
.main-content {
    background-color: #e6f7ff;
    color: black;
    padding: 40px;
    text-align: left;
  }
  
#contact {
    background-color: lightskyblue;
    color: black;
    padding: 40px;
    text-align: left;
  }

.footer {
    background-color: darkblue;
    color: gold;
    font-style: italic;
    padding: 40px;
    text-align: center;
  }
  
.global {
  
    font-family: 'Trebuchet MS', sans-serif;
    width: 100%;
    padding-top: 3%;
    margin: 0;
  }
  
.navbar {
    list-style-type: none;
    height: auto;
    margin: 0;
    padding: 1%;
    text-align: right;
    background-color: darkblue;
    link-color: gold;
    position: fixed;
    width: 100%;
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1; /* This will make it appear in front (not behind) of the memoji image */
  }

.navbar li {
    display: inline;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
  }

li {
    /* display: inline; */
    font-size: 16px;
    padding: 5px;
    margin: 10px;
  }

#rhs {
  padding-right: 2%;

}

a:link {
    color: gold;
    background-color: transparent;
    text-decoration: none;
    padding: 1%;
  }
a:visited {
  color: gold;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
    text-shadow: -1px 1px 2px gold;
    background-color: transparent;
    text-decoration: none;
  }

#profile-link:link {
    color: darkblue; background-color: transparent;
    text-decoration: none;
    padding: 1%;
  }

.navbar:link {
    color: gold; background-color: transparent;
    text-decoration: none;
    padding: 1%;
  }
  
/* For mobile phones: */
[class*="col-"] {
width: 100%;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.project-tile {
background-color: #f2f2f2;
width: 60%;
border: 15px solid darkblue;
padding: 50px;
margin: auto;
margin-bottom: 10px;
text-shadow: -1px 1px 2px gold;
color: darkblue;
}

.page {
  background-color: #f2f2f2;
  width: 100%;
  padding: 0px;
  margin: 0px;
  }

title {
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

#memoji {
  max-height: 120px;
  filter: drop-shadow(-5px 10px 15px black);

}

.flex-child-1 {
  width: 10%;
  height: 5%;
}

.flex-child-2 {
  flex-grow: 0.4;
  align-items: center;
}